svg * {
  stroke-width: var(--crease-width);
  stroke-linecap: round;
  stroke: black;
}
line.mountain { stroke: red; }
line.mark { stroke: lightgray; }
line.valley { stroke: blue;
  stroke-dasharray: calc(var(--crease-width) * 2) calc(var(--crease-width) * 2);
}
polygon { stroke: none; stroke-linejoin: bevel; }
.foldedForm polygon { stroke: black; fill: #8881; }
.foldedForm polygon.front { fill: white; }
.foldedForm polygon.back { fill: lightgray; }
.creasePattern .boundaries polygon { fill: white; stroke: black; }
.foldedForm .boundaries polygon { fill: none; stroke: none; }
.foldedForm line { stroke: none; }
