svg * {
  stroke-width:var(--crease-width);
  stroke-linecap:round;
  stroke:black;
}
polygon {fill:none; stroke:none; stroke-linejoin:bevel;}
.boundary {fill:white; stroke:black;}
.mark {stroke:#aaa;}
.mountain {stroke:#f00;}
.valley{
  stroke:#00f;
  stroke-dasharray:calc(var(--crease-width)*2) calc(var(--crease-width)*2);
}
.foldedForm .boundary {fill:none;stroke:none;}
.foldedForm .faces polygon { stroke:black; }
.foldedForm .faces .front { fill:#fff; }
.foldedForm .faces .back { fill:#ddd; }
.foldedForm .creases line { stroke:none; }
